<div class="input-group input-group-lg page-search-bar">
  <input type="text" class="form-control" id="do-page-search-bar" autofocus placeholder="<%=t :search_pages_ellps %>" value="<%= @query %>">

  <span class="input-group-btn">
    <button class="btn btn-default" id="exit-page-search-button" type="button">ESC</button>
    <button class="btn btn-success" id="do-page-search-button" type="button"><%= glyphicon 'search' %></button>
  </span>
</div>
