@import pages/trix_extensions

.page-topbar
  margin-bottom: 1em

  &__title
    display: inline-block
    margin: 0

  &__back-btn
    margin-left: 16px
    color: #ddd
    text-decoration: none

    &:hover
      text-decoration: none

  &__actions
    display: inline-block
    float: right
    line-height: 38px

.page-actions
  &__item
    display: inline-block
