<div class="table-responsive">
  <table class="table page-folders-list">
    <% @page_folder.subfolders.each do |folder| %>
        <%= render 'page_folders/contents/row', entry: folder, type: :folder %>
    <% end %>

    <% @page_folder.pages.each do |page| %>
        <%= render 'page_folders/contents/row', entry: page, type: :page %>
    <% end %>

    <% if @page_folder.subfolders.empty? and @page_folder.pages.empty? %>
        <%= render 'page_folders/contents/empty_row' %>
    <% end %>
  </table>
</div>