<div id="page-editor-data" class="hidden">
  <%= @page.data %>
</div>

<div id="page-editor" class="page-editor" data-content-in="#page-editor-data" data-page="<%= @page.id %>" data-page-name="<%= @page.name %>">
</div>
