<div class="saving-modal saving-modal_transparent saving-modal_hidden" id="saving-modal">
  <div class="saving-modal__content">
    <p class="saving-modal__message" id="saving-modal-message"><%=t :saving %></p>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped active" id="saving-modal-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
