<div class="page-topbar">
  <%= link_to glyphicon('chevron-left'), @page.root_folder, class: 'page-topbar__back-btn' %>
  <p class="page-topbar__title"><%= @page_folder.title %></p>
</div>

<p id="notice"><%= notice %></p>

<%# TODO %>
