<div class="container">
  <% cache @page do %>
      <%= render 'topbar' %>
      <%= render 'toolbar' %>
      <%= render 'editor' %>
  <% end %>
</div>

<% cache do %>
    <%= render 'saving-modal' %>
<% end %>
